
* {
    margin: 0px;
    padding: 0px;
}


h1 {
    margin-top: 10px;
    margin-bottom: 3px;
    color: aqua;
    text-align: center;
    font-size: 72px;
}

p{
    color: green;
    font-size: 40px;
}

.example{
    font-style: oblique;
    color:  blue;
}

#my-p{
    margin-top: 50px;
    font-size: 50;
    font-size: bold ;
    text-align: center;
    color: chocolate;
}

h2,h3,h4,h5,h6{
    color: yellow;
    background-color: black;
}

.card a{
    text-decoration: none;
    color: darkblue;
}

header{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style: none; /* Quita los puntos de lista */
    padding: 0; /* Elimina el relleno predeterminado */
    display: flex; /* Usa flexbox para alinear los elementos en línea */
}

nav li {
    margin-right: 20px; /* Agrega un margen derecho entre los elementos */
}

nav a {
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    color: #000; /* Cambia el color del texto a tu preferencia */
}

/* Estilo adicional para los enlaces activos, por ejemplo, la página actual */
nav a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
}


nav ul li a{

    font-size: 72px;
}

a[href="#"]:hover{
background-color: black;
color: orangered;
}

a[href='#services']:hover{
    background-color:orangered;
color: white;
}
a[href='#contact']:hover{
background-color: #000;
}

h1{
    color: blue !important;
}

.title{
    color:red;
}

#title{
    color: brown;
}

button{
    background-color: brown;
    color: white;
    padding: 25px;
    border-radius: 10px;
}

button:hover{
    background-color: blueviolet;
}

button:focus{
    background-color: darkolivegreen;
}