* {

    background-color: rgb(215, 250, 235);
}

.title {
    text-align: center;
    align-items: center;
    margin: 15px;
}

/* 
h1,p,div,h3,b {
    border: 3px;
    border-color: orangered;
    border-style: double;
    border-top: 10px dotted blue;
    border-top-right-radius: 5em;
    border-top-left-radius: 25em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 3em;
}

h1{
    margin: 10px;
    padding: 50px;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 30px;

}

div{
    padding: 25px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 15px;
}

p{
    padding: 50px 10px;
    margin: 200px 50px;
} */

/* p {
    color: red;
    font-size: 3opx; 
}

b{
    color: yellowgreen;
} */

/* div{
    padding: 20px;
    border-radius: 20px;
    background-color: #a3a3a3;
    color: #ce6262;
    width: 300px;
    height: auto;
    margin: 10px;
} */

p {
    color: white;
    background-color: black;

    /* min-width: 150px;
    min-height: 150px;

    max-width: 300px;
    max-height: 300px; */

    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;

    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;

}